defaults:
      run:
        shell: bash -el {0}

name: CI
jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        environment: [test, mindeps]
      fail-fast: false
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.63.2
          cache: true
          environments: >-
            default
            ${{ matrix.environment }}
      - name: Run tests
        run: pixi run -e ${{ matrix.environment }} test --junit-xml=test-${{ matrix.os }}-Env-${{ matrix.environment }}.xml
      - uses: codecov/codecov-action@v5

  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
      - uses: prefix-dev/setup-pixi@v0.9.4
        with:
          pixi-version: v0.63.2
          cache: true
          environments: pre-commit
      - name: Run pre-commit
        run: pixi run pre-commit

on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
